{% extends 'register.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
<head>

</head>
<body>
    <!-- <form action="/action_page.php">
        <label>Movie Name:</label><br>
        <input type="text"><br><br>
        <input type="file"><br><br>
        <input type="submit">
      </form> -->
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button>Upload</button>
        </form>
        <hr>
        
        <!-- {% if obj %}
        <h3>Sucessfully Uploaded: {{img_obj.movie_name}}</h3>
        <img src="{{obj.movie_image.url}}" alt="image" class="img-thumbnail">
        {% endif %}

        {% for x in img %}
        <img src="{{x.movie_image.url}}">
        <h2>{{x.movie_name}}</h2>
        {% endfor %} -->

    </div>
</body>
</html>
{% endblock %}